<section class="widget-section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="widget-content">
                    <a href="#"><img src="assets/img/logoo.png" alt="brand"></a>
                    <p>Building your own home is about desire, fantasy. But it’s achievable anyone can do it.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Company</h4>
                    <ul class="widget-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Clients Reviews</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Headquaters</h4>
                    <p>962 Fifth Avenue, 3rd Floor New York, NY10022</p>
                    <span><a href="http://html.dynamiclayers.net/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="80c8e5ececefc0c1ece5f8e1d4e8e5ede5aeeee5f4">[email&#160;protected]</a></span>
                    <span>(+123) 456 789 101</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Newslatter Subscription</h4>
                    <p>Subscribe and get 10% off from our <br>architecture company.</p>
                    <div class="subscribe-box clearfix">
                        <div class="subscribe-form-wrap">
                            <form action="#" class="subscribe-form">
                                <input type="email" name="email" id="subs-email" class="form-input"
                                    placeholder="Enter Your Email Address...">
                                <button type="submit" class="submit-btn">Subscribe</button>
                                <div id="subscribe-result">
                                    <p class="subscription-success"></p>
                                    <p class="subscription-error"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>