<section class="error-section padding">
    <div class="container">
        <div class="error-content text-center">
            <img src="assets/img/404.png" alt="img">
            <div class="error-info">
                <h2>404</h2>
                <P>Aha! You see! You can be wrong! <br>...either way, you should probably <br> 
                    <a routerLink="/home">
                        Go Back To Homapage
                    </a>
                </P>
            </div>
        </div>
    </div>
</section>