
.overlay {
    height: 660px;
}

.kenburns-top-right {
    height: 2000px;
    background-position: center;
    background-size: auto;
}

.btn-primary {
    width: 180px;
    height: 40px;
    text-align: center;
}

.flaticon-factory {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-worker {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-gear {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-worker-1 {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-loader {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-tanks {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-refinery {
    color: rgba(0, 0, 255, 0.918);
}

.flaticon-control-system {
    color: rgba(0, 0, 255, 0.918);
}