<section class="page-header padding">
    <div class="container">
        <div class="page-content text-center">
            <h2>Projects</h2>
        </div>
    </div>
</section>
<section class="project-single-section padding">
    <div class="container">
        <div class="row project-single-wrap align-items-center">
            <div class="col-md-6 sm-padding">
                <img src="assets/img/project-s-1.jpg" alt="img">
            </div>
            <div class="col-md-6 sm-padding">
                <div class="project-single-content">
                    <h2>The dancing house prague</h2>
                    <p>Indico is a different kind of architecture practice. Founded by LoganCee in 1991, we’re an
                        employee-owned firm pursuing a democratic design process that values everyone’s input.</p>
                    <ul class="project-details">
                        <li><span>Architects</span>: José Carpio, Valentin Lacoste, Kyle Frederick</li>
                        <li><span>Location</span>: 962 Fifth Avenue, 3rd Floor New York.</li>
                        <li><span>Category</span>: Architecture, Interior.</li>
                        <li><span>Area</span>: 119.0.563</li>
                        <li><span>Project Year</span>: 2019/2020</li>
                        <li><span>Manufactures</span>: AlexaTheme construction company.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-2.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Architecture</a>
                        <h3><a href="#" class="tittle">Cathedral of brasilia brasilia</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-3.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">Harpa concert hall reykjavik</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="project-single-section padding">
    <div class="container">
        <div class="row project-single-wrap align-items-center">
            <div class="col-md-6 sm-padding">
                <img src="assets/img/project-s-1.jpg" alt="img">
            </div>
            <div class="col-md-6 sm-padding">
                <div class="project-single-content">
                    <h2>The dancing house prague</h2>
                    <p>Indico is a different kind of architecture practice. Founded by LoganCee in 1991, we’re an
                        employee-owned firm pursuing a democratic design process that values everyone’s input.</p>
                    <ul class="project-details">
                        <li><span>Architects</span>: José Carpio, Valentin Lacoste, Kyle Frederick</li>
                        <li><span>Location</span>: 962 Fifth Avenue, 3rd Floor New York.</li>
                        <li><span>Category</span>: Architecture, Interior.</li>
                        <li><span>Area</span>: 119.0.563</li>
                        <li><span>Project Year</span>: 2019/2020</li>
                        <li><span>Manufactures</span>: AlexaTheme construction company.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-2.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Architecture</a>
                        <h3><a href="#" class="tittle">Cathedral of brasilia brasilia</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-3.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">Harpa concert hall reykjavik</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="project-single-section padding">
    <div class="container">
        <div class="row project-single-wrap align-items-center">
            <div class="col-md-6 sm-padding">
                <img src="assets/img/project-s-1.jpg" alt="img">
            </div>
            <div class="col-md-6 sm-padding">
                <div class="project-single-content">
                    <h2>The dancing house prague</h2>
                    <p>Indico is a different kind of architecture practice. Founded by LoganCee in 1991, we’re an
                        employee-owned firm pursuing a democratic design process that values everyone’s input.</p>
                    <ul class="project-details">
                        <li><span>Architects</span>: José Carpio, Valentin Lacoste, Kyle Frederick</li>
                        <li><span>Location</span>: 962 Fifth Avenue, 3rd Floor New York.</li>
                        <li><span>Category</span>: Architecture, Interior.</li>
                        <li><span>Area</span>: 119.0.563</li>
                        <li><span>Project Year</span>: 2019/2020</li>
                        <li><span>Manufactures</span>: AlexaTheme construction company.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-2.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Architecture</a>
                        <h3><a href="#" class="tittle">Cathedral of brasilia brasilia</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-3.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">Harpa concert hall reykjavik</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="project-single-section padding">
    <div class="container">
        <div class="row project-single-wrap align-items-center">
            <div class="col-md-6 sm-padding">
                <img src="assets/img/project-s-1.jpg" alt="img">
            </div>
            <div class="col-md-6 sm-padding">
                <div class="project-single-content">
                    <h2>The dancing house prague</h2>
                    <p>Indico is a different kind of architecture practice. Founded by LoganCee in 1991, we’re an
                        employee-owned firm pursuing a democratic design process that values everyone’s input.</p>
                    <ul class="project-details">
                        <li><span>Architects</span>: José Carpio, Valentin Lacoste, Kyle Frederick</li>
                        <li><span>Location</span>: 962 Fifth Avenue, 3rd Floor New York.</li>
                        <li><span>Category</span>: Architecture, Interior.</li>
                        <li><span>Area</span>: 119.0.563</li>
                        <li><span>Project Year</span>: 2019/2020</li>
                        <li><span>Manufactures</span>: AlexaTheme construction company.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-2.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Architecture</a>
                        <h3><a href="#" class="tittle">Cathedral of brasilia brasilia</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-3.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">Harpa concert hall reykjavik</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="assets/img/project-1.jpg" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="projects-section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-1.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Interior</a>
                        <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-2.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Architecture</a>
                        <h3><a href="#" class="tittle">Cathedral of brasilia brasilia</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-3.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">Harpa concert hall reykjavik</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-4.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Architecture</a>
                        <h3><a href="#" class="tittle">Milwauke museum wisconsin</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-5.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">The dancing house prague</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="project-item">
                    <img src="assets/img/project-6.jpg" alt="projects">
                    <div class="overlay"></div>
                    <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                    <div class="projects-content">
                        <a href="#" class="category">Design</a>
                        <h3><a href="#" class="tittle">The dancing house prague</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="sponsor-section bg-grey">
    <div class="dots"></div>
    <div class="container">
        <div id="sponsor-carousel" class="sponsor-carousel owl-carousel">
            <div class="sponsor-item">
                <img src="assets/img/sponsor1.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor2.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor3.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor4.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor5.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor6.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor7.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="assets/img/sponsor8.png" alt="sponsor">
            </div>
        </div>
    </div>
</div>