<header class="header">
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="header-logo">
                    <a routerLink="/home"><img class="imag" src="assets/img/logoo1.png" alt="Indico"></a>
                </div>
                <div class="header-menu-wrap">
                    <ul class="dl-menu">
                        <li>
                            <a routerLink="/home">Home</a>
                        </li>
                        <li><a routerLink="/about">About</a>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-company.html">About Company</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/services">Services</a>
                            <ul>
                                <li><a href="services-1.html">Services 01</a></li>
                                <li><a href="services-2.html">Services 02</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/projects">Projects</a>
                            <ul>
                                <li><a href="projects.html">Our Projects</a></li>
                                <li><a href="project-single.html">Project Single</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                                <li><a href="404.html">404 Error</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
