<header class="header">
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="header-logo">
                    <a routerLink="/home"><img class="imag" src="assets/img/logoo1.png" alt="Indico"></a>
                </div>
                <div class="header-menu-wrap">
                    <ul class="dl-menu">
                        <li>
                            <a routerLink="/home">Home</a>
                        </li>
                        
                        <li>
                            <a routerLink="/services">Services</a>
                        </li>
                        
                        <li>
                            <a routerLink="/projects">Projects</a>
                        </li>
                        
                        <li>
                            <a routerLink="/contact">Contact</a>
                        </li>

                        <li>
                            <a routerLink="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
